/* App.css */

/* Apply margin and padding to the body */
body {
  margin: 0;
  padding: 0;
}

/* Apply margin to the root element */
#root {

  min-height: 100vh; /* Ensure the app takes up at least the full viewport height */
  margin: 20px; /* Adjust the margin as needed */
}

/* Optionally, apply styles to specific elements within your app */

